example/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.vscode/
.idea/
.DS_Store
*.log
*.lock
.metadata
ios/Pods/
android/app/debug
android/app/profile
android/app/release
.gradle/
android/app/src/main/java/io/flutter/plugins/